@model IEnumerable<GiveMeAGame.Models.ApplicationUser>

@{
    ViewBag.Title = "Listagem de Usuários";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Incluir Usuário", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Usuário")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @if (item.UserName != User.Identity.Name)
            {
                @Html.ActionLink("Remover", "Delete", new { id = item.UserName })
            }
        </td>
    </tr>
}

</table>
